@font-face {
  font-family: Okomito;
  src: url("Okomito-Medium.ttf");
}

body {
  font-family: Okomito, sans-serif;
  font-size: 1.5em;
  background-color: #c0e0d2;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

input {
  line-height: 1;
}

a {
  text-decoration: underline;
  text-decoration-color: #3a7351;
}

.header {
  background-color: #4eb285;
  background-image:
    linear-gradient(
      #4eb285, #c0e0d2
    );
}
